@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Figtree";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Black.woff2) format("woff2");
}

.fa-icon {
  height: 1em;
  width: 1em;
  line-height: 1;
  vertical-align: middle;
  fill: currentColor;
}

#app {
  font-family: 'Figtree', Arial, sans-serif;
}


#backgorund-holder {
  position: relative;
}

#background-parent {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  background-attachment: scroll;
  pointer-events: none;
  z-index: 0;
}


body {
  line-height: 1.0;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
}
