header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px black;
}

@media (prefers-color-scheme: dark) {
    header {
        box-shadow: 0 0 8px white;
    }
}

.banner-truth {
    font: 400 24px "Open Sans", sans-serif;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    cursor: default;
    width: 100%;
    height: 35px;
}

.banner-truth-drahr {
    color: #FF2400;
    background-color: black;
}

.banner-truth-dis {
    color: #FF2400;
    background-color: black;
}

.banner-truth-ftu {
    color: #FF2400;
    background-color: black;
}

.banner-truth-ft {
    color: #FF2400;
    background-color: black;
}

.banner-truth-gig {
    color: #FF2400;
    background-color: black;
}

.banner-truth-iaa {
    color: #FF2400;
    background-color: black;
}

.banner-truth-lew {
    color: #FF2400;
    background-color: black;
}

.banner-truth-lil {
    text-shadow: 2px 2px 4px black;
    color: white;
    background-image: linear-gradient(
        to bottom,
        #e70000 16.666%,
        #ff8c00 16.666%,
        #ff8c00 33.333%,
        #ffef00 33.333%,
        #ffef00 50%,
        #00811f 50%,
        #00811f 66.666%,
        #0044ff 66.666%,
        #0044ff 83.333%,
        #760089 83.333%);
}

.banner-truth-riw {
    color: white;
    background-color: black;
}

.banner-truth-trahr {
    color: black;
    background-image: linear-gradient(
        to bottom,
        #5ccefa,
		#5ccefa 20%,
		#f6a8b7 20%,
		#f6a8b7 40%,
		#fff 40%,
		#fff 60%,
		#f6a8b7 60%,
		#f6a8b7 80%,
		#5ccefa 80%,
		#5ccefa);
}

.banner-truth-rrahr {
    color: #FF2400;
    background-color: black;
}

.banner-truth-su {
    color: #FF2400;
    background-color: black;
}

.banner-truth-ttc {
    color: #FF2400;
    background-color: black;
}

.banner-truth-ttr {
    color: #FF2400;
    background-color: black;
}

.banner-truth-tsib {
    color: #FF2400;
    background-color: black;
}

.banner-truth-trahr {
    color: #FF2400;
    background-color: black;
}

.banner-truth-wiahr {
    color: #FF2400;
    background-color: black;
}

.banner-truth-wip {
    color: #FF2400;
    background-color: black;
}

.header-spacer {
    height: 35px;
}

body {
    margin: 0;
    background-color: white;
    color: black;
}

.safe-area {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.text-margin {
    margin: 8px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
