header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    font: 400 24px "Open Sans", sans-serif;
    width: 100%;
    height: 35px;
}

.banner-riw {
    color: white;
    background-color: black;
}

.banner-lil {
    text-shadow: 2px 2px 4px black;
    color: white;
    background-image: linear-gradient(
        to bottom,
        #e70000 16.666%,
        #ff8c00 16.666%,
        #ff8c00 33.333%,
        #ffef00 33.333%,
        #ffef00 50%,
        #00811f 50%,
        #00811f 66.666%,
        #0044ff 66.666%,
        #0044ff 83.333%,
        #760089 83.333%);
}

.header-spacer {
    height: 35px;
}

body {
    margin: 0;
    background-color: white;
    color: black;
}

.safe-area {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.text-margin {
    margin: 8px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }
}
