@import "@radix-ui/colors/sky.css";
@import "@radix-ui/colors/skyDark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orangeDark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slateDark.css";

body {
--base1: var(--sky1);
--base2: var(--sky2);
--base3: var(--sky3);
--base4: var(--sky4);
--base5: var(--sky5);
--base6: var(--sky6);
--base7: var(--sky7);
--base8: var(--sky8);
--base9: var(--sky9);
--base10: var(--sky10);
--base11: var(--sky11);
--base12: var(--sky12);

--accent1: var(--orange1);
--accent2: var(--orange2);
--accent3: var(--orange3);
--accent4: var(--orange4);
--accent5: var(--orange5);
--accent6: var(--orange6);
--accent7: var(--orange7);
--accent8: var(--orange8);
--accent9: var(--orange9);
--accent10: var(--orange10);
--accent11: var(--orange11);
--accent12: var(--orange12);

--gray1: var(--slate1);
--gray2: var(--slate2);
--gray3: var(--slate3);
--gray4: var(--slate4);
--gray5: var(--slate5);
--gray6: var(--slate6);
--gray7: var(--slate7);
--gray8: var(--slate8);
--gray9: var(--slate9);
--gray10: var(--slate10);
--gray11: var(--slate11);
--gray12: var(--slate12);


--backgroundAppBase: var(--base3);
--backgroundAppAccent: var(--accent1);
--backgroundSubtleBase: var(--base2);
--backgroundSubtleAccent: var(--accent2);

--backgroundUiElementBase: var(--base3);
--backgroundUiElementAccent: var(--accent3);
--backgroundUiElementHoveredBase: var(--base4);
--backgroundUiElementHoveredAccent: var(--accent4);
--backgroundUiElementActiveBase: var(--base5);
--backgroundUiElementActiveAccent: var(--accent5);

--borderSubtleBase: var(--base6);
--borderSubtleAccent: var(--accent6);
--borderBase: var(--base7);
--borderAccent: var(--accent7);
--borderHoveredBase: var(--base8);
--borderHoveredAccent: var(--accent8);

--backgroundSolidBase: var(--base9);
--backgroundSolidAccent: var(--accent9);
--backgroundSolidHoveredBase: var(--base10);
--backgroundSolidHoveredAccent: var(--accent10);

--textLowGray: var(--gray11);
--textLowBase: var(--base11);
--textLowAccent: var(--accent11);
--textGray: var(--gray12);
--textBase: var(--base12);
--textAccent: var(--accent12);
}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

@font-face {
  font-family: "Figtree";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts//Figtree/Figtree-Light.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Figtree";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src:
    local("Figtree"),
    url(/fonts/Figtree/Figtree-Black.woff2) format("woff2");
}

#app {
  font-family: 'Figtree', Arial, sans-serif;
}

body {
  color: var(--textGray);
}

#backgorund-holder {
    position: relative;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  background-attachment: scroll;
  pointer-events: none;
  z-index: 0;
}

#app {
  background-color: var(--base8)
}

html {
  font-size: 24pt;
}

#text01 {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 500;
}

#text02 {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 300;
}

#text03 {
  color: var(--textLowGray);
  font-size: 0.625em;
  line-height: 1.5;
  font-weight: 300;
}

#text04 {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
}

#text05 {
  font-size: 1em;
  line-height: 1.5;
  font-weight: 500;
}

#text06 {
  text-align: justify;
  font-size: 0.625em;
  line-height: 1.5;
  font-weight: 400;
}

#text07 {
  font-size: 0.5em;
  line-height: 1.5;
  font-weight: 300;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  line-height: 1.0;
  min-height: var(--viewport-height);
  min-width: 320px;
  overflow-x: hidden;
  word-wrap: break-word;
}

:root {
  --background-height: 100vh;
  --site-language-alignment: left;
  --site-language-direction: ltr;
  --site-language-flex-alignment: flex-start;
  --site-language-indent-left: 1;
  --site-language-indent-right: 0;
  --viewport-height: 100vh;
}

u {
  text-decoration: underline;
}

strong {
  color: inherit;
  font-weight: bolder;
}

em {
  font-style: italic;
}


a {
  color: inherit;
  text-decoration: underline;
  transition: color 0.25s ease;
}

#wrapper {
  -webkit-overflow-scrolling: touch;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: var(--viewport-height);
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#wrapper > * {
  --spacing: 0.25rem;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

h1, h2, h3, p {
  direction: var(--site-language-direction);
  position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
  display: block;
  position: relative;
}

.container {
  position: relative;
}

.container > .wrapper {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
}

.container > .wrapper > .inner {
  vertical-align: top;
  position: relative;
  max-width: 100%;
  border-radius: inherit;
  text-align: var(--alignment);
}

#container01 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#container01 > .wrapper > .inner {
  --gutters: 2rem;
  --padding-vertical: 0.125rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

#container01 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

#container01.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container01.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

#container01.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
}

#container01.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

#container01.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container01.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
}

#container01.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}

#container01.columns > .wrapper > .inner > *:first-child {
  margin-left: calc(var(--gutters) * -1);
}

#container01.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container01.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#container01.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container01.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container01.columns > .wrapper > .inner > div:first-child, #container01.columns > .wrapper > .inner > div:first-child > .full:first-child {
  border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > div:last-child, #container01.columns > .wrapper > .inner > div:last-child > .full:first-child {
  border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

#container01.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + (var(--padding-vertical) * 2));
}

#container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

#container02 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#container02 > .wrapper > .inner {
  --gutters: 1.5rem;
  --padding-horizontal: 0.5rem;
  --padding-vertical: 0.25rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

#container02 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

#container02.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container02.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

#container02.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}

#container02.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
}

#container02.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

#container02.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container02.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
}

#container02.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}

#container02.columns > .wrapper > .inner > *:first-child {
  margin-left: calc(var(--gutters) * -1);
}

#container02.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container02.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#container02.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#container02.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container02.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container02.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container02.columns > .wrapper > .inner > div:first-child, #container02.columns > .wrapper > .inner > div:first-child > .full:first-child {
  border-top-left-radius: inherit;
}

#container02.columns > .wrapper > .inner > div:last-child, #container02.columns > .wrapper > .inner > div:last-child > .full:first-child {
  border-top-right-radius: inherit;
}

#container02.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

#container02.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

#container02.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + (var(--padding-vertical) * 2));
}

#container02.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

#container02 > .wrapper > .inner > :nth-child(1) {
  width: calc(40% + (var(--gutters) / 2));
}

#container02 > .wrapper > .inner > :nth-child(2) {
  width: calc(60% + (var(--gutters) / 2));
}

#container03 {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  background-color: transparent;
}

#container03 > .wrapper > .inner {
  --gutters: 1.5rem;
  --padding-horizontal: 0.125rem;
  --padding-vertical: 0.25rem;
  padding: var(--padding-vertical) var(--padding-horizontal);
}

#container03 > .wrapper {
  max-width: var(--width);
  width: 100%;
}

#container03.default > .wrapper > .inner > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container03.default > .wrapper > .inner > *:first-child {
  margin-top: 0 !important;
}

#container03.default > .wrapper > .inner > *:last-child {
  margin-bottom: 0 !important;
}

#container03.columns > .wrapper > .inner {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-start;
}

#container03.columns > .wrapper > .inner > * {
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;
  text-align: var(--alignment);
  padding: 0 0 0 var(--gutters);
}

#container03.columns > .wrapper > .inner > * > * {
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

#container03.columns > .wrapper > .inner > * > *:first-child {
  margin-top: 0 !important;
}

#container03.columns > .wrapper > .inner > * > *:last-child {
  margin-bottom: 0 !important;
}

#container03.columns > .wrapper > .inner > *:first-child {
  margin-left: calc(var(--gutters) * -1);
}

#container03.default > .wrapper > .inner > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  max-width: none !important;
  width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
}

#container03.default > .wrapper > .inner > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

#container03.default > .wrapper > .inner > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#container03.columns > .wrapper > .inner > div > .full {
  margin-left: calc(var(--gutters) * -0.5);
  max-width: none !important;
  width: calc(100% + var(--gutters) + 0.4725px);
}

#container03.columns > .wrapper > .inner > div:first-child > .full {
  margin-left: calc(var(--padding-horizontal) * -1);
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container03.columns > .wrapper > .inner > div:last-child > .full {
  width: calc(100% + var(--padding-horizontal) + calc(var(--gutters) * 0.5) + 0.4725px);
}

#container03.columns > .wrapper > .inner > div > .full:first-child {
  margin-top: calc(var(--padding-vertical) * -1) !important;
}

#container03.columns > .wrapper > .inner > div > .full:last-child {
  margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#container03.columns > .wrapper > .inner > div:first-child, #container03.columns > .wrapper > .inner > div:first-child > .full:first-child {
  border-top-left-radius: inherit;
}

#container03.columns > .wrapper > .inner > div:last-child, #container03.columns > .wrapper > .inner > div:last-child > .full:first-child {
  border-top-right-radius: inherit;
}

#container03.columns > .wrapper > .inner > .full {
  align-self: stretch;
}

#container03.columns > .wrapper > .inner > .full:first-child {
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
}

#container03.columns > .wrapper > .inner > .full:last-child {
  border-bottom-right-radius: inherit;
  border-top-right-radius: inherit;
}

#container03.columns > .wrapper > .inner > .full > .full:first-child:last-child {
  border-radius: inherit;
  height: calc(100% + (var(--padding-vertical) * 2));
}

#container03.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
  border-radius: inherit;
  height: 100%;
  position: absolute;
  width: 100%;
}

.links {
  display: flex;
  justify-content: var(--flex-alignment);
  letter-spacing: 0;
  line-height: 1.5;
  padding: 0;
}

.links li {
  position: relative;
}

.links li a {
  direction: var(--site-language-direction);
  display: block;
}

#links01 {
  gap: 0rem;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Figtree', sans-serif;
  font-size: 0.625em;
  font-weight: 400;
}

#links01 li a {
  text-decoration: none;
}

#links01 li a .underline-link {
  text-decoration: underline;
}

#links01 li a:hover {
  text-decoration: none;
}

#links01 li a:hover .underline-link {
  color: var(--textLowAccent);
}

@media (max-width: 1920px) {

}

@media (max-width: 1680px) {
  html {
    font-size: 18pt;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 18pt;
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 980px) {
  html {
    font-size: 15pt;
  }
}

@media (max-width: 736px) {
  html {
    font-size: 15pt;
  }

  #text01 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 1.875em;
    line-height: 1.5;
  }

  #text02 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 1em;
    line-height: 1.5;
  }

  #text03 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 0.625em;
    line-height: 1.5;
  }

  #text04 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 1.75em;
    line-height: 1.5;
  }

  #text06 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 0.625em;
    line-height: 1.5;
  }

  #text05 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 1em;
    line-height: 1.5;
  }

  #text07 {
    letter-spacing: 0rem;
    width: 100%;
    font-size: 0.5em;
    line-height: 1.5;
  }



  #container01 > .wrapper > .inner {
    --gutters: 2rem;
    --padding-vertical: 0.125rem;
  }

  #container01.columns > .wrapper > .inner {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  #container01.columns > .wrapper > .inner > span {
    height: 0;
    margin-top: calc(var(--gutters) * -1);
    pointer-events: none;
    visibility: hidden;
  }

  #container01.columns > .wrapper > .inner > *:first-child {
    margin-left: 0 !important;
    padding-top: 0 !important;
  }

  #container01.columns > .wrapper > .inner > * {
    padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  #container01.columns > .wrapper > .inner > *:last-child {
    padding-bottom: 0 !important;
  }

  #container01.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container01.columns > .wrapper > .inner > div:first-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container01.columns > .wrapper > .inner > div:last-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container01.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--gutters) * -0.5) !important;
  }

  #container01.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  #container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  #container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  #container01.columns > .wrapper > .inner > div:first-of-type, #container01.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
    border-bottom-left-radius: 0 !important;
  }

  #container01.columns > .wrapper > .inner > div:last-of-type, #container01.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
    border-top-right-radius: 0 !important;
  }

  #container01.columns > .wrapper > .inner > .full > .full:first-child:last-child {
    height: auto;
  }

  #container01.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
    height: auto;
    position: relative;
    width: auto;
  }



  #container02 > .wrapper > .inner {
    --gutters: 1rem;
    --padding-horizontal: 1.625rem;
    --padding-vertical: 0.25rem;
  }

  #container02.columns > .wrapper > .inner {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  #container02.columns > .wrapper > .inner > span {
    height: 0;
    margin-top: calc(var(--gutters) * -1);
    pointer-events: none;
    visibility: hidden;
  }

  #container02.columns > .wrapper > .inner > *:first-child {
    margin-left: 0 !important;
    padding-top: 0 !important;
  }

  #container02.columns > .wrapper > .inner > * {
    padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  #container02.columns > .wrapper > .inner > *:last-child {
    padding-bottom: 0 !important;
  }

  #container02.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container02.columns > .wrapper > .inner > div:first-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container02.columns > .wrapper > .inner > div:last-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container02.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--gutters) * -0.5) !important;
  }

  #container02.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  #container02.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  #container02.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  #container02.columns > .wrapper > .inner > div:first-of-type, #container02.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  #container02.columns > .wrapper > .inner > div:last-of-type, #container02.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  #container02.columns > .wrapper > .inner > div:first-of-type, #container02.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
    border-bottom-left-radius: 0 !important;
  }

  #container02.columns > .wrapper > .inner > div:last-of-type, #container02.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
    border-top-right-radius: 0 !important;
  }

  #container02.columns > .wrapper > .inner > .full > .full:first-child:last-child {
    height: auto;
  }

  #container02.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
    height: auto;
    position: relative;
    width: auto;
  }

  #container02 > .wrapper > .inner > :nth-child(1) {
    min-height: 100% !important;
    width: 100% !important;
  }

  #container02 > .wrapper > .inner > :nth-child(2) {
    min-height: 100% !important;
    width: 100% !important;
  }



  #container03 > .wrapper > .inner {
    --gutters: 1.5rem;
    --padding-horizontal: 1.625rem;
    --padding-vertical: 0.25rem;
  }

  #container03.columns > .wrapper > .inner {
    flex-direction: column !important;
    flex-wrap: nowrap !important;
  }

  #container03.columns > .wrapper > .inner > span {
    height: 0;
    margin-top: calc(var(--gutters) * -1);
    pointer-events: none;
    visibility: hidden;
  }

  #container03.columns > .wrapper > .inner > *:first-child {
    margin-left: 0 !important;
    padding-top: 0 !important;
  }

  #container03.columns > .wrapper > .inner > * {
    padding: calc(var(--gutters) * 0.5) 0 !important;
  }

  #container03.columns > .wrapper > .inner > *:last-child {
    padding-bottom: 0 !important;
  }

  #container03.columns > .wrapper > .inner > div > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container03.columns > .wrapper > .inner > div:first-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container03.columns > .wrapper > .inner > div:last-of-type > .full {
    margin-left: calc(var(--padding-horizontal) * -1);
    width: calc(100% + (var(--padding-horizontal) * 2) + 0.4725px);
  }

  #container03.columns > .wrapper > .inner > div > .full:first-child {
    margin-top: calc(var(--gutters) * -0.5) !important;
  }

  #container03.columns > .wrapper > .inner > div > .full:last-child {
    margin-bottom: calc(var(--gutters) * -0.5) !important;
  }

  #container03.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    margin-top: calc(var(--padding-vertical) * -1) !important;
  }

  #container03.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    margin-bottom: calc(var(--padding-vertical) * -1) !important;
  }

  #container03.columns > .wrapper > .inner > div:first-of-type, #container03.columns > .wrapper > .inner > div:first-of-type > .full:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  #container03.columns > .wrapper > .inner > div:last-of-type, #container03.columns > .wrapper > .inner > div:last-of-type > .full:last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  #container03.columns > .wrapper > .inner > div:first-of-type, #container03.columns > .wrapper > .inner > div:first-of-type > .full:last-child {
    border-bottom-left-radius: 0 !important;
  }

  #container03.columns > .wrapper > .inner > div:last-of-type, #container03.columns > .wrapper > .inner > div:last-of-type > .full:first-child {
    border-top-right-radius: 0 !important;
  }

  #container03.columns > .wrapper > .inner > .full > .full:first-child:last-child {
    height: auto;
  }

  #container03.columns > .wrapper > .inner > .full > .full:first-child:last-child > * {
    height: auto;
    position: relative;
    width: auto;
  }

  #links01 {
    gap: 0rem;
    font-size: 1.125em;
  }
}

@media (max-width: 480px) {

}

@media (max-width: 360px) {
  #text01 {
    font-size: 1.875em;
  }

  #text02 {
    font-size: 1em;
  }

  #text03 {
    font-size: 0.625em;
  }

  #text04 {
    font-size: 1.75em;
  }

  #text06 {
    font-size: 0.625em;
  }

  #text05 {
    font-size: 1em;
  }

  #text07 {
    font-size: 0.5em;
  }

  #container01 > .wrapper > .inner {
    --gutters: 1.5rem;
    --padding-vertical: 0.09375rem;
  }

  #container02 > .wrapper > .inner {
    --gutters: 1rem;
    --padding-horizontal: 1.21875rem;
    --padding-vertical: 0.1875rem;
  }

  #container03 > .wrapper > .inner {
    --gutters: 1.125rem;
    --padding-horizontal: 1.21875rem;
    --padding-vertical: 0.1875rem;
  }

  #links01 {
    gap: 0rem;
    font-size: 1.125em;
  }
}
